.my-footer {
  background-color: rgb(49, 121, 189);
  color: white;
  margin-top: 10px;
  padding: 8px;
  min-height: 6rem;
  background-image: url('/images/background/background-005.jpg');
  background-blend-mode: screen;
  background-position: 0% 25%;
}