
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
.jumbotron.primary {
  min-height: 700px;
  height: 100vh;
  background-image: url("/images/background/background-003.jpg");
  background-size: cover;
}
.jumbotron.secondary {
  background-color: rgb(65, 140, 225);
  background-image: url("/images/background/background-002.jpg");
  background-size: 33.33%;
  background-blend-mode: soft-light;
}